<%- include("header") -%>


<div class="container-fluid about">
  <div class="row">
    <div class="col-lg-7" style="padding-left:0px;">
        <img class="col-lg-12 about-img"  src="/images/cycleshop.jpg" alt="">
    </div>
    <div class="col-lg-5">
      <p>Established since 1971 in Gurgaon, New Radhey Shyam & Sons is a part of India's spearhead cycling revolution. Started as a small cycle repairing shop, it slowly paved its way onto becoming the Top Bicycle Retailer in Haryana. Today, New Radhey Shyam & Sons is undoubtedly the largest bicycle retailer in Gurgaon with over 15 brands.</p>
    </div>

  </div>

</div>


<%- include('footer') -%>
